.nav-bar{
    display: flex;
    justify-content:flex-start ;
    background-color: rgba(0, 0, 0, 0.253);
    box-shadow: 0 3px 13px 1px rgba(0, 0, 0, 0.295);
    height: 100px;
    align-items: center;
    font-size:large;
    backdrop-filter: blur(4px);
    color: rgba(255, 255, 255, 0.87);
    font-size: 26px;
  }
.search{
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}
.img{
  margin-left: 20px;
}